NODE_ENV=production
URL=http://
TRUST_PROXY=false
DATABASE_URL=postgres://user:pass@postgres:5432/outline
REDIS_URL=redis://redis:6379
SECRET_KEY=
UTILS_SECRET=
PGSSLMODE=disable
FORCE_HTTPS=false
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_SERVER_ID=
DISCORD_SERVER_ROLES=